:root {
  --ff-akaya: "Akaya Telivigala", monospace, sans-serif;
  --ff-monospace: monospace, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-size: 22px; */
}
li {
  list-style: none;
}
html {
  font-family: var(--ff-monospace);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 90vh;
  width: 100%;
  background-color: #e3e3e3;
  padding: 5px 0;
}
textarea {
  font-family: monospace, sans-serif;
  border: none;
  outline: none;
  resize: none;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  padding: 8px;
  margin: 5px;
  font-weight: 500;
  font-size: 22px;
  font-family: var(--ff-akaya);
}
h1.title {
  color: #262834;
  font-size: 22px;
  padding: 8px;
  text-align: center;
  font-family: var(--ff-akaya);
}
.container {
  width: 96%;
  margin: 0 auto;
  background-color: #080808;
  padding: 10px 5px 5px 5px;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: minmax(60px, auto); */
}
.btns button.btn {
  background-color: #262834;
  color: #e3e3e3;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  transition-property: background-color, color;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.btns button.btn:is(:hover, .active) {
  background-color: #56cbdb;
  color: #262834;
}
textarea,
.docs-tab-container,
.mark-tab-container,
.preview-tab-container {
  letter-spacing: 0.2px;
  overflow-y: scroll;
  color: #000;
  background-color: #fff;
  padding: 8px;
  margin: 8px;
  width: calc(100% - 10px);
  height: calc(100vh - 150px);
  border-radius: 4px;
  letter-spacing: 0.2px;
  font-size: 20px;
}
textarea {
  background-color: #121212;
  color: #e3e3e3;
}
.docs-tab-container > h2 {
  color: #262834;
  font-size: clamp(1.5rem, 4vw, 4rem);
  padding: 8px;
  text-align: center;
  font-family: var(--ff-akaya);
}
.syntax-item {
  margin-block-end: 16px;
  padding-block-end: 16px;
  border-bottom: 1px solid #32323232;
}
.syntax-item > h3 {
  font-size: clamp(1rem, 4vw, 3.5rem);
}
.syntax-item h4 {
  font-size: clamp(0.8rem, 4vw, 2rem);
  margin-block-end: 8px;
}
.syntax-item p {
  font-size: clamp(12px, 2vw, 20px);

}
.example {
  background-color: #E8E8E8;
  margin-block: 16px;
  padding: 8px;
  border: 1px solid #32323232;
  border-radius: 4px;
}
